<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Jimmy</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>King</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tommy</string>
		<key>age</key>
		<integer>43</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Musk</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Steve</string>
		<key>age</key>
		<integer>34</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Judy</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>女</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jimmy</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jimmy</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jimmy</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<string>男</string>
		<key>phone</key>
		<string>372432432</string>
	</dict>
</array>
</plist>
